body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Font-size */
.fs-14 {
  font-size: 14px !important;
}
.fs-16 {
  font-size: 16px !important;
}
.fs-18 {
  font-size: 18px !important;
}
.fs-20 {
  font-size: 20px !important;
}
.rounded-20 {
  border-radius: 20px !important;
}
.fs-22 {
  font-size: 22px !important;
}
.fs-24 {
  font-size: 24px !important;
}
.fs-28 {
  font-size: 28px !important;
}

/* Color */
.primary-color-bg {
  background-color: #eb1933 !important;
}
.primary-color {
  color: #eb1933 !important;
}
.primary-color-text {
  color: #1d1d1f !important;
}
.primary-color-text-bg {
  background-color: #1d1d1f !important;
}
.secondary-color-text {
  color: #a1a1aa !important;
}
.secondary-color-text-bg {
  background-color: #a1a1aa !important;
}

.ticket-bg {
  background-color: #f0f0f0 !important;
}

.body-bg {
  background-color: #f5f5f7 !important;
}

.border-color {
  border: 2px solid #dedede !important;
}
.border-color-bg {
  background-color: #dedede !important;
}

.green-color{
  background-color: #00D250 !important;
}

@media (max-width: 768px) {
  .hero-section {
    margin: 1rem 0;
    padding: 1rem;
  }

  .search-form {
    padding: 0.75rem;
  }

  .btn-search {
    width: 100%;
    margin-top: 1rem;
  }
  .event-search-bar {
    flex-direction: column;
    padding: 15px;
  }
  .event-search-bar .form-control-wrapper {
    width: 100%;
  }
  .event-search-bar .btn-danger {
    width: 100%;
    margin-top: 15px;
  }
}


@media (max-width: 576px) { 
  .feature-text {
    font-size: 10px;
  }
 }

@media (max-width: 768px) { 
  .feature-text {
    font-size: 10px;
  }
 }

@media (max-width: 992px) {
  .feature-text {
    font-size: 10px;
  }
 }

